.page1-td1-enter-from{
    transform: translateX(-50%);
    opacity: 0;
}
.page1-td2-enter-from{
    transform: translateY(-50%);
    opacity: 0;
}
.page1-td3-enter-from{
    transform: translateY(-50%);
    opacity: 0;
}
.page1-td4-enter-from{
    transform: translateY(50%);
    opacity: 0;
}
.page1-td5-enter-from{
    transform: translateY(50%);
    opacity: 0;
}



.page1-td1-enter-to,
.page1-td2-enter-to,
.page1-td3-enter-to,
.page1-td4-enter-to,
.page1-td5-enter-to{
    opacity: 1;
}

.page1-td1-enter-active{
    transition: all 1s ease-out;
}
.page1-td2-enter-active,
.page1-td4-enter-active{
    transition: all 1.5s ease-out;
}
.page1-td3-enter-active,
.page1-td5-enter-active {
    transition: all 2s ease-out;
}